{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="row justify-content-center align-items-center  text-center text-lg-start">
        <div class="col-lg-6">
            <h1 class="display-4">Connectify <span class="display-6">Businesses</span></h1>
            <h3 class="fw-light">connecting aspiring entrepreneurs with investors</h3>
            <p class="lead mt-3">A virtual market place where aspiring entrepreneurs can showcase their concepts
                and connect with investors who are seeking promising ventures to support.</p>

            <a href="#" class="btn btn-lg btn-primary my-4">Start Your Journey Here</a>
        </div>
        <div class="col-lg-6">
            <img src="/static/images/home.png" alt="" class="img-fluid">
        </div>
    </div>
</section>

<section>
    <h2 class="display-3 text-center">What We Offer</h2>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-6">
            <img src="/static/images/opportunity.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="display-6">Opportunity</h3>
            <p class="lead lh-lg">Whether you're a budding entrepreneur with a groundbreaking idea or an experienced
                investor
                seeking the next big opportunity, Connectify provides a platform where dreams can take flight.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-3">
        <div class="col-md-6 order-last order-md-first">
            <h3 class="display-6">Support</h3>
            <p class="lead lh-lg">Building a successful business takes more than just a great idea; At Connectify, we're
                dedicated to providing
                entrepreneurs with the tools, resources, and networking opportunities they need to thrive.</p>
        </div>
        <div class="col-md-6">
            <img src="/static/images/support.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-6">
            <img src="/static/images/community.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="display-6">Community</h3>
            <p class="lead lh-lg">Through our
                platform, you'll have the opportunity to connect with like-minded individuals, share insights and
                experiences, and collaborate on exciting new ventures that have the potential to change the world.
            </p>
        </div>
    </div>

</section>

<section>
    <h2 class="display-5 text-center my-5">What Beneficiaries Have to Say
    </h2>
    <div class="row g-5">
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/person_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text lead lh-md">Connectify gives me the opportunity to showcase my business ideas
                        and attract potential investors from diverse backgrounds.</p>
                    <small>Review on 12-10-2023</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/person_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sarah Blake</h5>
                    <p class="card-text lead lh-md">The platform helps saves time and effort finding sponsors,
                        facilitating meaningful connections & collaborations.</p>
                    <small>Review on 22-06-2023</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/person_3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Irene Araguna</h5>
                    <p class="card-text lead lh-md">Connectify provides me the enabling environment as an entrepreneurs
                        to access a global network of investors to pitch my business ideas.</p>
                    <small>Review on 01-03-2024</small>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}