{% extends 'layout.html' %}
{% block content %}
<h1 class="display-3 text-center mb-5">Explore Some Businesses Here</h1>
{% for post in posts %}
<div class="row">
    <h3 class="display-6">{{ post.title }}</h3>
    <small class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} </small>
    <p class="lh-lg mt-3">{{ post.introduction }}</p>
    <div>
        <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-outline-primary w-100">Read Full Pitch</a>
    </div>
</div>
{% endfor %}
{% endblock content %}