{% extends 'layout.html' %}
{% block content %}
<h1 class="display-3">Pitch Your Ideas Today</h1>
<p class="lead">Ready to take your business idea to the next level? Or perhaps you're looking for the next big
    investment opportunity? Join connectify today and become part of a dynamic community of entrepreneurs, investors,
    and innovators who are shaping the future of business. Together, we can bridge ideas and investments and make dreams
    a reality. Welcome to connectify – where innovation meets opportunity.</p>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="row justify-content-center align-items-center">
            <div class="mx-3 mb-5 px-5 shadow-sm">
                <legend class="border-bottom text-center mt-5 display-6 ">{{ legend }}</legend>
                <div class="mb-3">
                    {{ form.title.label(class='form-label') }}

                    {% if form.title.errors %}
                    {{ form.title(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class='form-control') }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.introduction.label(class='form-label') }}

                    {% if form.introduction.errors %}
                    {{ form.introduction(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.introduction.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.introduction(class='form-control') }}
                    {% endif %}
                </div>


                <div class="mb-3">
                    {{ form.problem_statement.label(class='form-label') }}

                    {% if form.problem_statement.errors %}
                    {{ form.problem_statement(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.problem_statement.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.problem_statement(class='form-control') }}
                    {% endif %}
                </div>


                <div class="mb-3">
                    {{ form.solution.label(class='form-label') }}

                    {% if form.solution.errors %}
                    {{ form.solution(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.solution.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.solution(class='form-control') }}
                    {% endif %}
                </div>



                <div class="mb-3">
                    {{ form.market_analysis.label(class='form-label') }}

                    {% if form.market_analysis.errors %}
                    {{ form.market_analysis(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.market_analysis.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.market_analysis(class='form-control') }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.financial_projection.label(class='form-label') }}

                    {% if form.financial_projection.errors %}
                    {{ form.financial_projection(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.financial_projection.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.financial_projection(class='form-control') }}
                    {% endif %}
                </div>

                <div class="mt-5 mb-3 text-center">
                    {{ form.submit(class='btn btn-outline-primary d-block w-100') }}
                </div>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content%}